<app-top-panel-no-auth></app-top-panel-no-auth>

<div class="container-label" style="margin-bottom:40px;height: auto">
  <div class="container">
    <div class="singUpWindow">
      <div class="window background-top-right"
           style="padding-top: 20px;width: 600px;background-position: 550px -25px,0px 290px;">
        <div class="container-left" style="height: auto; align-items: start">
          <img style="height: 230px" src="https://cdn-icons-png.flaticon.com/512/7112/7112984.png">
          <div style="margin-top: 25px;margin-left: 20px">
            <div>
              <div>
                Hi, my friend. That the project<br/> of <b><b><b><b>Banana</b></b></b> Bank</b>
              </div>
              <div style="margin-top: 20px">
                <app-button-accept (click)="navigateSignUp()" text="Sing Up"></app-button-accept>
              </div>
              <div style="margin-top: 20px">
                <app-button-keep (click)="navigateSignIn()" text="Sing In"></app-button-keep>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="infoBananaBank">
      <div class="window background" style="width: 558px;background-position: 530px -25px,-20px 215px">
        <div class="container-left" style="height: auto">
          <div>
            <img style="height: 238px" src="https://freepngimg.com/save/26049-stock-market-graph-up-file/1756x1762">

          </div>
          <div style="padding-right: 50px;margin-left: 20px">
            <b><b>Banana</b></b> Bank, similar to Kiwi Wallet, is a new bank poised to become the next Tinkoff Bank,
            with
            potential for rising share value. Clients can enjoy the security of insured funds, profitable lending
            options,
            and daily interest on deposits at a rate of 0.08% of the initial deposit.

          </div>
        </div>

      </div>
    </div>
    <div class="allInformation">
      <div class="window background-top-right" style="width: calc(100% - 125px);
        background-image: url(https://cdn1.iconfinder.com/data/icons/food-5-7/128/Vigor_<b>Banana</b>-Peel-Fruit-Ripe-Healthy-1024.png);
        background-size: 6%;
        background-repeat: no-repeat;
        background-position: 1210px -10px;">
        <div class="container-left" style="height: auto;align-items: start">
          <div>
            <img style="width: 300px"
                 src="https://www.edupics.com/image-banana-dm23207.jpg">
          </div>
          <div style="margin-left: 20px;padding-right: 50px;margin-top: 20px">
            <div>
              <b>Banana</b> Bank - this is a new bank, similar to the Kiwi Wallet system, which offers a wide range of
              financial
              services. We are proud to have the potential to become the next Tinkoff Bank and offer our clients
              numerous
              advantages.
              <br/>
              <br/>
            </div>
            <div>
              <img
                src="https://static.vecteezy.com/system/resources/previews/035/498/158/non_2x/candlestick-chart-of-the-stock-market-move-up-motivation-the-way-to-achieve-the-goal-flat-vector.jpg"
                style="width: 50%;margin-top: 20px">
            </div>
            <div>
              Shares of <b>Banana</b> Bank are expected to grow soon, creating a great opportunity for investors. We
              believe
              that
              our bank has tremendous potential for development and achieving high stock value in the future.
              <br/>
              <br/>
              Our clients can also be assured of the safety of their funds. We guarantee that all deposits and funds are
              insured, ensuring the reliability and peace of mind of our clients.
            </div>
            <div>
              <img
                src="https://img.freepik.com/free-vector/people-taking-out-money-from-the-bank-concept-illustration_114360-12881.jpg?w=1380&t=st=1710888019~exp=1710888619~hmac=2d374890bb9399539c96a07963bf2e9445fa088efabe64fc1013cb9f8a81ffc2"
                style="width: 50%;margin-top: 20px">
            </div>
            <div>
              <br/>
              <br/>
              In addition, <b>Banana</b> Bank offers favorable lending conditions. Our team of financial specialists has
              developed
              a flexible lending system with low interest rates and convenient repayment terms. We always strive to help
              our
              clients achieve their financial goals.
              <br/>
              <br/>
            </div>
            <div>
              <img
                src="https://img.freepik.com/free-vector/people-taking-out-money-from-the-bank-concept-illustration_114360-17351.jpg?w=826&t=st=1710887984~exp=1710888584~hmac=cc5b0e3151da0508d5a9d52a067c06c2851161f724a6526ae76c2b182fc0564b"
                style="width: 50%;margin-top: 0px">
            </div>
            <div>

              If you are interested in increasing your savings, <b>Banana</b> Bank offers deposits with a daily interest
              rate of
              0.08% of your initial deposit. This way, you can gradually increase your savings and receive passive
              income
              from your investment.
              <br/>
              <br/>
              Sign up for <b>Banana</b> Bank today and start building a successful financial future!
            </div>
            <div>
              <img
                src="https://assets.materialup.com/uploads/6af2ebb0-dfb9-4dd1-bcdc-0ce058646682/preview.jpg"
                style="width: 50%;margin-top: 20px">
            </div>
            <div style="margin-top: 20px">
              <b>Banana</b> Bank offers fast and secure transfers between accounts, ensuring convenient and reliable
              transactions
              for our clients. With our advanced technology and robust security measures, you can trust that your funds
              will be transferred quickly and safely, providing you with peace of mind and seamless financial
              management.
              <br/>
              <br/>
            </div>
            <div>
              We believe that choosing <b>Banana</b> Bank instead of other banks like Kiwi or Tinkoff will bring you
              numerous
              advantages. Unlike Kiwi, <b>Banana</b> Bank offers a wide range of financial services, including lending,
              deposits,
              and transfers between accounts, ensuring convenience and integration of all your financial needs under one
              roof.
              <br/>
              <br/>
            </div>
            <div>
              <img
                src="https://media.istockphoto.com/id/1370840294/vector/cartoon-money-payment-mobile-bank-electronic-transaction-transfer-money-via-online-mobile.jpg?s=612x612&w=0&k=20&c=FEHF_NosZ-3ZiUm5Y0VxXn2BfjocO8ieMq_SEeU9qQ0="
                style="width: 50%;margin-top: 20px">
            </div>
            <div>
              Unlike Tinkoff and other banks, <b>Banana</b> Bank guarantees the security of your funds. Our insurance
              system and
              advanced technology provide protection for your money and information with the highest level of security.
              You can trust that your financial transactions will be conducted safely and reliably.
              <br/>
              <br/>
            </div>
            <div>
              <img
                src="https://cdni.iconscout.com/illustration/premium/thumb/money-transfer-3494678-2928760.png"
                style="width: 50%;margin-top: 20px">
            </div>
            <div>
              Moreover, <b>Banana</b> Bank has flexible lending conditions and attractive interest rates for deposits,
              which can
              help you achieve your financial goals faster and with greater benefit. We also offer fast and convenient
              transfers between accounts to ensure the instantaneous movement of your funds without unnecessary hassle.
              <br/>
              <br/>
              By choosing <b>Banana</b> Bank, you gain convenience, security, and the ability to utilize all the
              necessary
              financial services from one reliable provider. Our goal is to provide you with the best banking experience
              and help you effectively manage your finances.
            </div>
            <div>
              <img
                src="https://img.freepik.com/free-vector/people-using-mobile-bank-remittance-money_74855-6617.jpg"
                style="width: 50%;margin-top: 20px">
            </div>
            <div class="container-left">
              <app-button-keep (click)="navigateSignIn()" text="Sign In"
                               style="padding-left: 5px; padding-right: 30px"></app-button-keep>
              <app-button-accept (click)="navigateSignUp()" text="Sign Up"
                                 style="padding-left: 5px; padding-right: 30px"></app-button-accept>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div style="height: 40px">&#13;</div>

</div>
