<div class="window background">

  <div class="container-label" style="justify-content: start">

    <div class="hello">
      <b>Good day</b>, Anton Sibgatulin, your balance <b>20.000$</b>
    </div>

  </div>

  <div class="container-label" style="margin-top: 20px">
    <div class="label">
      Phone number:
    </div>
  </div>
  <div class="container-label">
    <input type="text" name="phoneReceived">
  </div>


  <div class="container-label" style="margin-top: 20px">
    <div class="label">
      Wallet Id:
    </div>
  </div>
  <div class="container-label">
    <input type="text" name="receivedWalletId">
  </div>


  <div class="container-label" style="margin-top: 20px">
    <div class="label">
      User id:
    </div>
  </div>
  <div class="container-label">
    <input type="text" name="receivedUserId">
  </div>


  <div class="container-label" style="margin-top: 20px">
    <div class="label">
      Amount:
    </div>
  </div>
  <div class="container-label">
    <input type="number" name="amount">
  </div>

  <div class="container-label" style="justify-content: end;margin-top: 40px;width: 91%">
    <app-button-accept text="Send"></app-button-accept>
  </div>


  <div style="height: 64px"></div>


</div>

<div class="window background-top-right">
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
</div>

<div style="height: 48px"></div>
