<div class="window background" style="background-position: 734px -25px, -37px 150px">
  <div class="container-left" style="height: auto">
    <div class="card">
      <div class="some-card">

      </div>
      <div class="card-data">
        {{me.phones[0].phone}}
      </div>
    </div>
    <div>
      <div class="hello">
        <b>Good day</b>, {{getName()}}, your balance <b>{{me.wallet.balance}}$</b>
      </div>
      <div class="container-left" style="margin-top: 10px;height: auto">
        <app-button-accept text="Replenish"></app-button-accept>
        <app-button-accept (click)="navigateTransfer()" style="margin-left: 10px" text="Transfer"></app-button-accept>
        <app-button-keep (click)="logout()" style="margin-left: 10px" text="Log out"></app-button-keep>
      </div>
    </div>

  </div>
</div>
<div class="window">

  <div class="container-label" style="height: auto;margin-top: 10px">

    <div class="item-column">

      <ng-container *ngFor="let item of me.phones">
        <div class="item-data">
          <app-button-delete (click)="deletePhone(item.id)"></app-button-delete>
          <div class="data">
            {{item.phone}}
          </div>
        </div>
      </ng-container>


      <div class="item-data">
        <input type="text" placeholder="Add phone number" name="phone" style="margin-left: 10px;height: 40px">
        <app-button-add (click)="addPhone()" style="margin-left: 10px"></app-button-add>
      </div>
    </div>


    <div class="item-column" style="">

      <ng-container *ngFor="let item of me.emails">
        <div class="item-data">
          <app-button-delete (click)="deleteEmail(item.id)" style="margin-left: 10px"></app-button-delete>
          <div class="data">
            {{item.email}}
          </div>
        </div>
      </ng-container>


      <div class="item-data">
        <input type="text" placeholder="Add email" name="email" style="margin-left: 10px;height: 40px">
        <app-button-add (click)="addEmail()" style="margin-left: 10px"></app-button-add>
      </div>


    </div>

  </div>

</div>
