<div class="window background" style="background-position: 734px -25px, -37px 150px">
  <div class="container-left" style="height: auto">
    <div class="card">
      <div class="some-card">

      </div>
      <div class="card-data">
        +7 (999) 999-99-99
      </div>
    </div>
    <div>
      <div class="hello">
        <b>Good day</b>, Anton Sibgatulin, your balance <b>20.000$</b>
      </div>
      <div class="container-left" style="margin-top: 10px;height: auto">
        <app-button-accept text="Replenish"></app-button-accept>
        <app-button-accept (click)="navigateTransfer()" style="margin-left: 10px" text="Transfer"></app-button-accept>
        <app-button-keep style="margin-left: 10px" text="Log out"></app-button-keep>
      </div>
    </div>

  </div>
</div>
<div class="window">

  <div class="container-label" style="height: auto;margin-top: 10px">

    <div class="item-column">

      <div class="item-data">
        <app-button-delete></app-button-delete>
        <div class="data">
          7 (999) 999-99-99
        </div>
      </div>

      <div class="item-data">
        <app-button-delete></app-button-delete>
        <div class="data">
          7 (999) 999-99-99
        </div>
      </div>

      <div class="item-data">
        <app-button-delete></app-button-delete>
        <div class="data">
          7 (999) 999-99-99
        </div>
      </div>


      <div class="item-data">
        <input type="text" placeholder="Add phone number" name="email" style="margin-left: 10px;height: 40px">
        <app-button-add style="margin-left: 10px"></app-button-add>
      </div>
    </div>


    <div class="item-column" style="">

      <div class="item-data">
        <app-button-delete style="margin-left: 10px"></app-button-delete>
        <div class="data">
          test&#64;mail.ru
        </div>
      </div>

      <div class="item-data">
        <app-button-delete style="margin-left: 10px"></app-button-delete>
        <div class="data">
          test&#64;mail.ru
        </div>
      </div>


      <div class="item-data">
        <app-button-delete style="margin-left: 10px"></app-button-delete>
        <div class="data">
          test&#64;mail.ru
        </div>
      </div>


      <div class="item-data">
        <app-button-delete style="margin-left: 10px"></app-button-delete>
        <div class="data">
          test&#64;mail.ru
        </div>
      </div>


      <div class="item-data">
        <input type="text" placeholder="Add email" name="email" style="margin-left: 10px;height: 40px">
        <app-button-add style="margin-left: 10px"></app-button-add>
      </div>


    </div>

  </div>

</div>
