<div class="window background">

  <div class="container-label" style="justify-content: start">

    <div class="hello">
      <b>Good day</b>, {{getLogin()}}, your balance <b>{{this.me.wallet.balance}}$</b>
    </div>

  </div>

  <div class="container-label" style="margin-top: 20px">
    <div class="label">
      Name:
    </div>
  </div>
  <div class="container-label">
    <input type="text" name="firstname" value="{{getName()}}">
  </div>


  <div class="container-label" style="margin-top: 20px">
    <div class="label">
      Lastname:
    </div>
  </div>
  <div class="container-label">
    <input type="text" name="lastname" value="{{getLastName()}}">
  </div>


  <div class="container-label" style="margin-top: 20px">
    <div class="label">
      Second name:
    </div>
  </div>
  <div class="container-label">
    <input type="text" name="secondname" value="{{getSecondName()}}">
  </div>


  <div class="container-label" style="margin-top: 20px">
    <div class="label">
      Birthday:
    </div>
  </div>
  <div class="container-label">
    <input type="date" name="birthDay" value="{{getDate()}}">
  </div>

  <div class="container-label" style="justify-content: end;margin-top: 40px;width: 91%">
    <app-button-accept (click)="update()" text="Send"></app-button-accept>
  </div>


  <div style="height: 64px"></div>


</div>
