<div class="window background-top-right">

  <div class="header">
    History <b>transfer</b>
  </div>

  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>
  <app-transfer-item phone="79999999999" type="add" status="PENDING" amount="20"></app-transfer-item>

</div>
