
.button-s {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.16);


}

.button-s img {
  margin-top: 4px;
  width: 60%;
  height: 60%;
}

