<div class="container-label">
  <h2 style="font-weight: inherit;font-size: 30px;">Banana bank</h2>
</div>
<div class="container-label">
  <div class="label">
    Login:
  </div>
</div>
<div class="container-label">
  <input type="text" name="login">
</div>


<div class="container-label">
  <div class="label">
    Password:
  </div>
</div>
<div class="container-label">
  <input type="password" name="password">
</div>


<div class="container-label">
  <div class="label">
    Email:
  </div>
</div>
<div class="container-label">
  <input type="email" name="email">
</div>

<div class="container-label">
  <div class="label">
    Phone:
  </div>
</div>
<div class="container-label">
  <input type="phone" name="phone">
</div>


<div class="container-label">
  <div class="label">
    Start deposit:
  </div>
</div>
<div class="container-label">
  <input type="number" name="startDeposit">
</div>

<div class="container-label" style="margin-top: 20px">
  <div class="container-right" style="width: 82%;">
    <app-button-keep (click)="navigateSignIn()" text="Sing In"></app-button-keep>
    <app-button-accept text="Sign Up" style="margin-left: 10px"></app-button-accept>
  </div>
</div>
